@import url('./base.css');
.nav ul{
    display: flex;
    gap:16px;
    flex-wrap: wrap;
}

.nav ul a{
    color:black;
}


.logo p{
    color:#545BE8;
}

.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:10px;
}

.logo img{
    width:40px;
    height:40px;
}


/* .authentication {
    display: flex;
    justify-content: center;
    align-items: center;
} */

.authentication ul{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap:16px;
}

.authentication a{
    font-family:var(--subFont);
}

.authentication ul .login{
    border:1px solid #545BE8;
    border-radius: 15px;
    width:120px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.authentication ul .login a{
    color:#545BE8;
}

.authentication ul .reg{
    border-radius: 15px;
    background-color:#545BE8;
    width:120px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.authentication ul .reg a{
    color:#ffffff;
}


header{
    background-color :#FFFFFF;
    height: 100px;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.2);

    display: flex;
    align-items: center;

    /* 
    position: fixed;
    top:0;
    z-index: 1000px; */
}


.body{
    height: 600px;
}

footer .start{
    width:500px;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

footer {
    background-color: #393E46;
     padding: 50px 100px 50px 100px; 
    box-sizing: border-box;
}

footer .row i{
    border:2px solid #FFFFFF;
    border-color: #FFFFFF;
    padding: 5px 5px;
}

footer a{
    color:#FFFFFF;
}

footer {
    color:#FFFFFF;
    display: flex;
    gap:100px;
    box-sizing: border-box;
}


footer .end{
    display: flex;
    gap:60px;
    flex-grow: 1;
    color:#FFFFFF;
    padding: 0px 0px 0px 250px;
    box-sizing: border-box;
}

footer .end .end_list{
    display: flex;
    gap:15px;
    flex-direction: column;
}

footer a{
    color:#FFFFFF
}

@media screen and (max-width:545px) {
    .nav{
        display: none;
    }


    footer .row{
        flex-wrap: nowrap;
        gap: 20px;
     }

     .authentication ul .login{
        width:20px;
        font-size: 10px;
    }

    .authentication ul .reg{
        width:20px;
        font-size: 10px;
    }

    footer {
        background-color: #393E46;
        padding: 5px 5px 5px 5px; 
        box-sizing: border-box;
    }
    
    footer .start{
        width:300px;
        display: flex;
        gap:20px;
        padding: 0px 0px;
    }

    footer .end{
       flex-direction: column;
    }

}


@media screen and (max-width:800px){
    
    .nav{
        display: none;
    }


    footer .row{
        flex-direction: column;
        gap: 50px;
     }


    footer{
        flex-direction: column;
        padding:20px 10px 5px 10px;        
     }
    
    footer .start{
        padding: 0px 0px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    footer .end{
        padding:0px 0px;
        display: flex;
        justify-content: center;
        align-items: center;
    }



}